#fondito{
    background-color: azure
}
h1{
    color: darkolivegreen;
    text-align: center;
    font-family: fantasy;
    font-size: 45px;
    border-style: inset;
    border-color: cadetblue;
    word-spacing: 10px;
    letter-spacing: 6px;
}
h2{
    text-align: center;
    color: forestgreen;
    font-family: fantasy;
    letter-spacing: 2px;
    word-spacing: 5px;
}
#piesito{
    color: forestgreen;
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
    font-size: 15px;
    border-style: dashed;
    background-color: darkseagreen;
}
p{
    font-style: italic;
    font-weight: bold;
    color: darkgreen;   
}
#entradita{
    text-align: center;
}